 /* Absolute Center Spinner */
.spa-loading {
    bottom: 0;
    height: 2em;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 2em;
    z-index: 999;
}

/* Transparent Overlay */
.spa-loading:before {
    background-color: rgba(0,0,0,0.3);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;  
    width: 100%;
}

.visible {
    visibility: visible;
}

*[data-bind-display=hidden]:not(input):not(select):not(textarea) {    
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}
*[data-bind-display=visible]:not(input):not(select):not(textarea) {    
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: visible;
}

body#home, body#create {
    background-color: coral;
}

body#home > nav > a[href$="home"]
{
    background-color: #292929;
    border-color: transparent;
    color: whitesmoke;
    padding: 0.2em 0.5em;
    text-align: center;
    text-decoration: none;
}
body#create > nav > a[href$="create"]
{
    background-color: #292929;
    border-color: transparent;
    color: whitesmoke;
    padding: 0.2em 0.5em;
    text-align: center;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
h3{
  color:rgba(100, 50, 255, .8);
  text-align: center;
  font-size: 40px;
}

h1{
    font-size: 50px;
    text-decoration: red underline overline wavy;
    text-align: center;
}
h2{
    font-size: 50px;
    text-decoration: red underline overline wavy;
    text-align: center;
}
input[type=text]:focus {
    background-color: lightblue;
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}
input[type=number] {
    border: 2px solid red;
    border-radius: 4px;
}
input[type=date] {
    border: 2px solid red;
    border-radius: 4px;
}
select {
    
    
    border: none;
    border-radius: 4px;
    background-color: #add8e6;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.spacer {
    margin-bottom: 1rem;
}

input:required:invalid, 
select:required:invalid,
textarea:required:invalid
{
  border: 1px solid red;
}

input:required:valid, 
select:required:valid,
textarea:required:valid
{
  border: 1px solid green;
}


input[type="checkbox"]:required {
    display: none;
}

input[type="checkbox"]:required:invalid + label::before {
  content: "\2610";
  padding-right: 0.2em;
  font-size: 1.6em;
  color: red;
}
input[type="text"]:required:invalid + label::before{
   position:left; 
}

input[type="checkbox"]:required:valid + label::before {
  content: "\2611";
  padding-right: 0.2em;
  font-size: 1.6em;
  color: green;
}

.on {
    background-color: red; 
}

.off {
    background-color: blue;
}