body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
  font-size: 25px;
}
p {
  font-size: 25px;
  color: red; 
   text-indent: 2.0em;
}
p2 {
  font-size: 25px;
  color: blue; 
   text-indent: 2.0em;
}
li1{
    font-size: 30px;
     font-weight: bold;
     color: red;
}
li2{
    font-size: 30px;
     font-weight: bold;
     color: green;
}
li3{
    font-size: 30px;
     font-weight: bold;
     color: yellow;
}
h3{
  color:rgba(100, 50, 255, .8);
  text-align: center;
  font-size: 40px;
}

h1{
    font-size: 50px;
    text-decoration: red underline overline wavy;
    text-align: center;
}
h2{
    font-size: 50px;
    text-decoration: red underline overline wavy;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
.wavy {
  text-decoration: red underline overline wavy;
}
input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

td, tr{
    font-size: 20px;
}
/* Lab 3.2 */

.still, .rotate, .shrink {
 color: red;
 display: inline-block;
 font-size: 60px;
 padding: 1rem;
 text-shadow: 1px 1px 2px black; 
}

.rotate {
 animation: rotate 1s infinite ease;
}

.shrink {
 animation: shrink 1s infinite ease;
}

@keyframes rotate { 
 0% { 
 transform: rotateZ(-30deg);
 }
 50% {
 transform: rotateZ(30deg);
 }
 100% {
 transform: rotateZ(0);
 }
}

@keyframes shrink { 
 0% { 
 transform: scale(0.8);
 }
 50% {
 transform: scale(1.2);
 }
 100% {
 transform: scale(1);
 }
}