extends layout

block content
  h1= title
  p
    a(href="./view") View
  h2=message
  form.form-horizontal(action="/", method="post", role="form")
        .form-group
            label.control-label(for="firstname") First Name
            .col
                input#name.form-control(name="firstname" class=(firstnameMessage)?"form-control is-invalid":"form-control")
                -if(firstnameMessage)
                    .invalid-feedback
                        p=firstnameMessage
        .form-group
            label.control-label(for="lastname") Last Name
            .col
                input#name.form-control(name="lastname" class=(lastnameMessage)?"form-control is-invalid":"form-control")
                -if(lastnameMessage)
                    .invalid-feedback
                        p=lastnameMessage                
        .form-group
            label.control-label(for="department") Department
            .col
                select(name="department" class=(deptartmentMessage)?"form-control is-invalid":"form-control")
                      option(value='0', disabled, selected=true) -- Select --
                      each val in ['Software','Network','Senior Developer']
                          option= val
                -if(deptartmentMessage)
                    .invalid-feedback
                        p=deptartmentMessage
        .form-group
            label.formLabels(for="startdate") Start Date:
            .col
                input.form-control(type="date", name="startdate", class=(startDateMessage)?"form-control is-invalid":"form-control")
                -if(startDateMessage)
                    .invalid-feedback
                        p=startDateMessage
        .form-group
            label.formLabels(for="jobtitle") Job Title
            .col
                input#name.form-control(name="jobtitle" class=(jobTitleMessage )?"form-control is-invalid":"form-control")
                -if(jobTitleMessage)
                    .invalid-feedback
                        p=jobTitleMessage
        .form-group
            label.formLabels(for="salary") Salary
            .col
                input#name.form-control(name="salary" class=(salaryMessage )?"form-control is-invalid":"form-control")
                -if(salaryMessage)
                    .invalid-feedback
                        p=salaryMessage
        input(type="submit" value="Submit")        