extends layout

block content
  h1= "Update"
    p
  a(href="../") Home
  a(href="/view") View
  h2=message
  form.form-horizontal(action="/update", method="post", role="form")
        .form-group
            label.control-label(for="firstname") First Name
            .col
                input#name.form-control(name="firstname" value=results.firstname)
        .form-group
            label.control-label(for="lastname") Last Name
            .col
                input#name.form-control(name="lastname" value=results.lastname)
        .form-group
            label.control-label(for="department") Department
            .col
                select(name="department" selected=results.department)
                    option Please Select One
                    option Software
                    option Networking
                    option Senior Developer
        .form-group
            label.formLabels(for="startDate") Start Date:
            .col
                input.form-control(type="date", name="startdate", class=(startDateMessage)?"form-control is-invalid":"form-control")
        .form-group
            label.formLabels(for="jobtitle") Job Title
            .col
                input#name.form-control(name="jobtitle" value=results.jobtitle)
        .form-group
            label.formLabels(for="salary") Salary
            .col
                input#name.form-control(name="salary" value=results.salary)
            input(type="submit" value="Submit")
        input(type="hidden" name="_id" value=results._id)
