extends layout

block content
    h1 View Employees
    a(href="../") Home
    p
    if results.length
    table
        thead   
            tr
                th First Name
                th Last Name
                th Department
                th Start Date
                th Job Title
                th Salary
                th
                th
        tbody
            each employee in results
                tr
                    td 
                        =employee.firstname
                    td 
                        =employee.lastname
                    td 
                        =employee.department
                    td 
                        =employee.startdate.toDateString()
                    td 
                        =employee.jobtitle
                    td 
                        =employee.salary
                    td
                        a(href="../update/"+employee._id) Update
                    td
                        a(href="../delete/"+employee._id) Delete