extends layout

block content
    h1=title
    if results.length
        table
            thead   
                tr
                    th author
                    th rating
                    th reviewText
                    th createdOn
                    th
                    th
            tbody
              each stuff in results
                tr
                    td 
                        =stuff.author
                    td 
                        =stuff.rating
                    td 
                        =stuff.reviewText
                    td 
                        =stuff.createdOn.toDateString()
                    td
                        a(href="../update/"+stuff._id) Update
                    td
                        a(href="../view/"+stuff._id) Delete
    else
        p No results found