extends layout

block content    
    h1= title
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='http://localhost:3000/')
            span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              
              li.nav-item
                a.nav-link(href='http://localhost:3000/') Home
              li.nav-item.active
                a.nav-link(href='http://localhost:3000/about') About
               
              span.sr-only
    form(action="/form", method="post")
        .pure-control-group
        label(for='name') Name
        input(type="text" name="name")
        br
        |Email 
        input(type="text", name="email")
        br
        |Comments 
        br
        textarea(rows='4', cols='46.', type="text", name="comment")
        br
        input(type="submit")