extends layout

block content    

    img(src="/images/mat2.png" width="200" height="200")
    h1= title
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='http://localhost:3000/')
        span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='http://localhost:3000/about')
              | About 
              span.sr-only
          li.nav-item
            a.nav-link(href='http://localhost:3000/form') Form

    p= " It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)"