extends layout

block content    
    h1= title
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='http://localhost:3000/')
            span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              
              li.nav-item
                a.nav-link(href='http://localhost:3000/') Home
              li.nav-item.active
                a.nav-link(href='http://localhost:3000/about') About
              li.nav-item.active
                a.nav-link(href='http://localhost:3000/form') Form
                
              span.sr-only
    h3= "THE RESULTS ARE IN"
    ul
        li1= name
        br
        li2= email
        br
        li3= comment
    ul