mixin 404(error)
    - var Num = Math.floor(Math.random() * (50-20+1)) + 20;
    - var errorA = ['still', 'rotate', 'shrink'];
    - for (var i = 0; i < Num; i++)
        - var ranClass = errorA[Math.floor(Math.random() * errorA.length)]
        div(class=ranClass) #{error}