extends layout

block content
    h1= title
    form(action="/", method="post", role="form")
        select(name="numbers")
            option(value="0", selected= true, disabled) --- Select One ---
                each val in [3, 4, 5, 10, 20]
                    option= val
        br        
        input(type="submit", value"Submit")
    +outputGrid(grid)