mixin outputGrid(grid)
    table#grid
        tbody
        - for (var row = 0; row < grid; row++)
            tr
            - for (var col = 0; col < grid; col++)
                -var color = '#' + ((1<<24)*Math.random()|0).toString(16);
                    td(align="center", style={background: color}) #{color}
                        br
                        span(style="color: #fff;") #{color}